h1 {
  color: black;
}

ul {
  list-style: none;
  margin-left: -35px;
  line-height: 23px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  margin-top: 60px;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 10px;
  background: linear-gradient(to top, #dfe9f3 60%, white 100%);
}

.description {
  text-transform: capitalize;
}
